:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  align-items: center;
  margin: 0 5%;
}

.password-input {
  position: relative;
}

.password-eye-btn {
  cursor: pointer;
  position: absolute;
  top: 70%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--light-transparent);
}

.password-eye-btn.active {
  color: var(--primary-primary);
}
