@use 'fonts';
@use 'margins';

:root {
  --dark-color: #000;
  --dark-active-color: #161616;
  --light-color: #fff;
  --primary-primary: #ae7aff;
  --light-transparent-color: rgba(255, 255, 255, 0.75);
  --dark-message: #404040;
  --gray-solid: #5f646d;
  --gray-soft: #5f646d;
  --outline-ae7aff: #d8d8d8;
  --primary-hover: #ae7aff;
  --primary-soft: #ae7aff;
  --green-primary: #98e9ab;
  --green-soft: #98e9ab;
  --yellow-primary: #fae8a4;
  --yellow-soft: #fae8a4;
  --red-primary: #e99898;
  --red-soft: #e99898;
  --color: #404040;
  --active-link: #161616;
  --light-border: 1px solid var(--light-color)
}

*,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  font-family: "JetBrains Mono", sans-serif;
  background: var(--dark-color);
  color: var(--light-color);
  background-image: url("/assets/image/background.jpg");
  background-size: cover;
}
.skill-tag {
  display: inline-block;
  border-radius: 2px;
  border: 1px solid var(--light-color);
  padding: 0px 8px;
  font-size: 12px;
  font-weight: 700;
  margin-right: 4px;
  line-height: 24px;
  height: 24px;
}

.btn {
  width: 100%;
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

}

.btn-icon {
  width: 44px;
  height: 44px;
  background: var(--primary-primary);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--dark-color);
}

.svg16 {
  width: 16px;
  height: 16px;
}

.btn-shadow {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -4px;
    right: -4px;
    background: var(--gray-solid);
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 4px;
  }
}


.h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;

}
.h4 {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
 }

.h6 {
  font-weight: 800;
  line-height: 24px;
  font-size: 18px;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
}
.medium-text {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.regular {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.tt-control-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: block;
}
.tt-input {
  width: 100%;
  margin-top: 8px;
  display: block;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 12px 20px;
  background: var(--dark-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "JetBrains Mono", sans-serif;
  color: var(--light-color);
}
.tt-form-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.tt-form-label__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: var(--light-transparent-color);
}
.tt-form-input {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border: none;
  border-bottom: 1px solid var(--light-color);
  background: none;
  height: 33px;
  color: var(--light-color);

  &:focus-visible {
    outline: 1px solid var(--primary-hover);
  }
}
.tt-textarea {
  height: 84px;
  resize: none;
}
